<launch>
<arg name="cam_name" default="bh_haptic1" />
<arg name="ip_addr" default="10.95.191.19" />
<arg name="channel" default="1" />
<arg name="modality_local" default="water" />
  <env name="GSCAM_CONFIG" value="souphttpsrc location=http://admin:henderson@$(arg ip_addr)/GetData.cgi?CH=$(arg channel) timeout=5 ! jpegdec ! ffmpegcolorspace" />
  <node pkg="gscam" type="gscam" name="$(arg cam_name)">
  <param name="camera_name" value="$(arg cam_name)" />
  <param name="camera_info_url" value="package://bluhaptics_ipcameras/calibrations/${NAME}_$(arg modality_local).yaml" />
  <remap from="camera/image_raw" to="$(arg cam_name)/image_raw" />
  <remap from="/set_camera_info" to="$(arg cam_name)/set_camera_info" />
  </node>
</launch>
